@model AdminView

<link rel="stylesheet" href="~/css/styleForAdminView.css">
<br>
<h1>Visi registruoti svetainės nariai</h1>
<br>
<table id="items">
    <tr>
        <th>Email</th>
        <th>Rolė</th>
    </tr>
    @foreach (var user in @Model.Users)
    {
        <tr>
            <td>@user.Email</td>
            <td>@user.Role</td>
        </tr>
    }
</table>

<h3>Sukurti vartotoją:</h3>
<form class="example" action="/action_page.php" style="margin:auto;max-width:300px">
    <input class="example" type="text" placeholder="Įveskite.." name="search2">
    <button type="submit"><i class="fa fa-check"></i></button>
</form>
<br />
<h3>Ištrinti vartotoją:</h3>
<form class="example" action="/action_page.php" style="margin:auto;max-width:300px">
    <input class="example" type="text" placeholder="Įveskite.." name="search2">
    <button type="submit"><i class="fa fa-check"></i></button>
</form>
