@using Microsoft.CodeAnalysis.CSharp.Syntax
@model PCE_Web.Controllers.ConfirmPasswordController.InputModel
@{
    ViewData["Title"] = "Email patvirtinimas";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/css/styleForRegistration.css">

</head>
<body>

<form asp-action="EmailConfirmation" novalidate="">

    <div class="container">
        <h1>Email patvirtinimas</h1>
        <p>Patikrinkite savo elektroninį paštą, ten turėtų būti nusiųstas patvirtinimo kodas.</p>
        <hr>

        @Html.Hidden("Email")
        @Html.Hidden("Password")
        @Html.Hidden("ConfirmCode")
        <div class="form-group">
            <input asp-for="InputCode" class="form-control" type="email" placeholder="Įveskite kodą." />
            <span asp-validation-for="InputCode" class="text-danger"></span>
        </div>

        <button type="submit" class="registerbtn">Patvirtinti</button>
    </div>
</form>

</body>
</html>