@{
    Layout = "~/Views/Shared/_LayoutLoggedIn.cshtml";
}

@model EvaluationView


<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">

    <link rel="stylesheet" href="~/css/styleForEvaluationWindow.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<body>
    <div class="seperator"></div>
    <div class="row">
        <div class="column">
            <div class="selection">
                <select id="mySelect" onchange="myFunction()">
                    <option value="0">--Pasirinkite--</option>
                    <option value="1">Avitela</option>
                    <option value="2">Gintarine</option>
                    <option value="3">Barbora</option>
                </select>
            </div>
            <br />
            <div class="comments-container">
                @foreach (var comment in Model.Comments)
                {
                    <div class="comment-container">
                        <img src="~/img/member.jpg" alt="Avatar">
                        <p><strong>@comment.Email</strong></p>
                        <p>@comment.Comment</p>
                        <span class="time-right">@comment.Date</span>
                    </div>
                }
            </div>
        </div>

        <div class="column">
            <div class="evaluation-container">
                <div class="post">
                    <div class="text">
                        Ačiū už įvertinimą!
                    </div>
                    <div class="edit">
                        Redaguoti
                    </div>
                </div>
                <h3>Kaip vertinate parduotuvę?</h3>
                <div class="star-widget">
                    <input type="radio" name="rate" id="rate-5">
                    <label for="rate-5" class="fas fa-star"></label>
                    <input type="radio" name="rate" id="rate-4">
                    <label for="rate-4" class="fas fa-star"></label>
                    <input type="radio" name="rate" id="rate-3">
                    <label for="rate-3" class="fas fa-star"></label>
                    <input type="radio" name="rate" id="rate-2">
                    <label for="rate-2" class="fas fa-star"></label>
                    <input type="radio" name="rate" id="rate-1">
                    <label for="rate-1" class="fas fa-star"></label>
                    <form action="/EvaluationSuccess/Success">
                        <header></header>
                        <div class="textarea">
                            <textarea cols="30" placeholder="Parašykite komentarą.."></textarea>
                        </div>
                        <br />
                            <button id="mvc-action-button" class="myButton">Išsaugoti</button>
                    </form>
                    <br />
                </div>
            </div>
        </div>
    </div>
    <script>
        const btn = document.querySelector("button");
        const post = document.querySelector(".post");
        const widget = document.querySelector(".star-widget");
        const editBtn = document.querySelector(".edit");
        btn.onclick = () => {
            widget.style.display = "none";
            post.style.display = "block";
            editBtn.onclick = () => {
                widget.style.display = "block";
                post.style.display = "none";
            }
            return false;
        }
    </script>
    <script type="text/javascript">
        function myFunction() {
            var x = document.getElementById("mySelect").value;
            var currentUrl = $(location).attr('href');
            var n = currentUrl.includes("index");
            if (n) {
                var newurl = currentUrl.slice(0, -1) + x;
                window.location.href = newurl;
            }
            else {
                window.location.href = currentUrl + "?index=" + x;
            }
        }
    </script>
</body>
</html>