@{
    Layout = "~/Views/Shared/_LayoutLoggedIn.cshtml";
}
<div class="modal fade" id="dukModal" tabindex="-1" role="dialog" aria-labelledby="dukModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="dukModalLabel" style="color:green" bold>DUK</h5>

            </div>
            <div class="modal-body">

                <h1 style="color:green" bold>Kodėl nematau prekių?</h1>
                <p>Programa yra kūrimo stadijoje, todėl gali kilti tokie trukdžiai.</p>
                <hr>

                <h2 style="color:green" bold>Kaip surasti geriausią prekę?</h2>
                <p>Į paieškos lauką įveskite ieškomos prekės pavadinimą, tada pasirinkite kategoriją ir kainą.</p>
                <hr>

                <h2 style="color:green" bold>Ar visi pasiūlymai tikri? Ar tai ne apgaulė?</h2>
                <p>Taip, visos prekės yra tikros.</p>
                <hr>

                <h2 style="color:green" bold>Ką daryti, jeigu radau klaidą?</h2>
                <p>Praneškite klaidą administracijai paštu.</p>
                <hr>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn first" data-dismiss="modal" style="color:green" bold>Uždaryti</button>
            </div>
        </div>
    </div>
</div>
<div class="text-center">
    <h1 class="display-4">Sveiki prisijungę!</h1>
</div>
<!-- Paieškos mygtukas -->
<div class="search-button">
    <form method="get" action="">
        <div class="tb">
            <input type="text" name="ProductName" placeholder="Ieškokite..">
            <div class="td" id="s-cover">
                <input id="mvc-action-button" type="submit" asp-area="" asp-controller="Search" asp-action="Suggestions" style="position: absolute; left: -9999px" />
            </div>
        </div>
    </form>
</div>

<div id="overlay" class="overlay">


    <div class="loader">
        <img src="loader.gif" width="400" height="400"/>
    </div>
      

</div>

<!-- Javascript -->

<script src="~/js/jquery-1.11.1.min.js"></script>
<script src="~/bootstrap/js/bootstrap.min.js"></script>
<script src="~/js/jquery.backstretch.min.js"></script>
<script src="~/js/wow.min.js"></script>
<script src="~/js/scripts.js"></script>


<script>
    document.getElementById('mvc-action-button')
        .addEventListener('click', function (e) {
            document.getElementById('overlay').style.display = 'flex';
        });
</script>