
@{

    ViewData["Title"] = "Pagrindinis puslapis";

    Layout = "~/Views/Shared/_Layout.cshtml";

}

<link rel="stylesheet" href="~/css/Loading.css">

<body>
    <!-- Top content -->
    <div class="top-content">
        <div class="container">

            <div class="row">
                <div class="col-sm-12 text wow fadeInLeft">
                    <h1> <strong>Smart</strong>shop.lt</h1>
                    <div class="description">
                        <p class="medium-paragraph">
                            Tai svetainė, skirta efektyviam prekių kainų palyginimui.
                            Tiesiog įveskite ieškomą prekę ir rinkitės iš geriausių pasiūlymų.
                            Registruoti nariai gauna daugiau privilegijų: užsiregistruoti galite <strong><a asp-controller="Registration" asp-action="Register">čia</a></strong>!
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Paieškos mygtukas -->
<div class="search-button">
    <form method="get" action="">
        <div class="tb">
            <input type="text" name="ProductName" placeholder="Ieškokite..">
            <div class="td" id="s-cover">
                <input id="mvc-action-button" type="submit" asp-area="" asp-controller="Search" asp-action="Suggestions" style="position: absolute; left: -9999px" />
                <!--<input id="mvc-action-button" type="submit" asp-area="" asp-controller="SearchWebServiceController" asp-action="Get" style="position: absolute; left: -9999px" />-->
            </div>
        </form>
    </div>

    <!-- Features -->
    <div class="features-container section-container">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 features-box wow fadeInLeft">
                    <div class="row">
                        <div class="col-sm-3 features-box-icon">
                            <i class="fa fa-cloud"></i>
                        </div>
                        <div class="col-sm-9">
                            <h3>Rinkitės prekes iš didžiausių Lietuvos parduotuvių</h3>
                            <p>
                                Smartshop.lt Jums suteikia galimybę rinktis prekes iš daugiau nei 10 skirtingų
                                Lietuvos parduotuvių. Čia galite rasti viską, ko Jums reikia: išmanieji telefonai, buitinė technika
                                ar net vaistai!
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 features-box wow fadeInLeft">
                    <div class="row">
                        <div class="col-sm-3 features-box-icon">
                            <i class="fa fa-facebook"></i>
                        </div>
                        <div class="col-sm-9">
                            <h3>Smartshop.lt socialiniuose tinkluose</h3>
                            <p>
                                Sekite naujienas apie karščiausius prekių pasiūlymus, dalyvaukite konkursuose
                                bei dalinkitės savo pastebėjimais mūsų facebook puslapyje "SmartShop Lietuva"
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6 features-box wow fadeInLeft">
                    <div class="row">
                        <div class="col-sm-3 features-box-icon">
                            <i class="fa fa-paperclip"></i>
                        </div>
                        <div class="col-sm-9">
                            <h3>Išsisaugokite pasirinktas prekes</h3>
                            <p>
                                Patiko keletas prekių ir sunku išsirinkti? Ne bėda!
                                Išsisaugokite rastas prekes ir jas peržiūrėkite Jums patogiu metu.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 features-box wow fadeInLeft">
                    <div class="row">
                        <div class="col-sm-3 features-box-icon">
                            <i class="fa fa-bug"></i>
                        </div>
                        <div class="col-sm-9">
                            <h3>Esame viena komanda</h3>
                            <p>
                                Radote klaidų, turite pastebėjimų dėl svetainės veikimo?
                                Prašome susisiekti su mumis ir pasistengsime kuo greičiau išspręsti iškilusias problemas.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-12 footer-copyright">
                    &copy; SmartShop.LT, 2020.
                </div>
            </div>
        </div>
    </footer>

    <div id="overlay" class="overlay">

        <div class="loader">
            <img src="~/img/loader.gif" width="400" height="400" />
        </div>

    </div>
</body>

<!-- Javascript -->

<script src="~/js/jquery-1.11.1.min.js"></script>
<script src="~/bootstrap/js/bootstrap.min.js"></script>
<script src="~/js/jquery.backstretch.min.js"></script>
<script src="~/js/wow.min.js"></script>
<script src="~/js/scripts.js"></script>

<script>
    document.getElementById('mvc-action-button')
        .addEventListener('click', function (e) {
            document.getElementById('overlay').style.display = 'flex';
        });
</script>

<!--[if lt IE 10]>
    <script src="assets/js/placeholder.js"></script>
<![endif]-->
