@model PCE_Web.Models.UserRegisterModel

@{
    ViewData["Title"] = "Registracija";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/css/styleForRegistration.css">

</head>
<body>

<form asp-action="Register">
    <div class="container">
        <h1>Registracija</h1>
        <p>Užpildykite šią formą, norėdami sukurti vartotoją</p>
        <hr>
        
        @*<div asp-validation-summary="ModelOnly" class="text-danger"></div>*@

        <label asp-for="Email" class="control-label"><b>El. paštas</b></label>
        <input type="email" placeholder="Įveskite el. paštą" asp-for="Email" required/>
        <span asp-validation-for="Email" class="text-danger"></span>

        <label asp-for="Password" class="control-label"><b>Slaptažodis</b></label>
        <input type="password" placeholder="Įveskite slaptažodį"  asp-for="Password" required/>
        <span asp-validation-for="Password" class="text-danger"></span>

        <label asp-for="ConfirmPassword" class="control-label"><b>Pakartokite slaptažodį</b></label>
        <input type="password" placeholder="Pakartokite slaptažodį" asp-for="ConfirmPassword" required/>
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>

        <hr>
        <p>Sukurdami vartotoją Jūs sutinkate su mūsų <a asp-area="" asp-controller="Home" asp-action="Privacy">privatumo politika</a>.</p>

        <button type="submit" asp-area="" asp-controller="MainWindowLoggedIn" asp-action="Items" class="registerbtn">Registruotis</button>

    </div>

    <div class="container signin">
        <p>Jau turite vartotoją? <a asp-area="" asp-controller="Logging" asp-action="Login">Prisijunkite</a>.</p>
    </div>
</form>

</body>
</html>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}