@{
    Layout = "~/Views/Shared/_LayoutLoggedIn.cshtml";
}

<h1>Ačiū už įvertinimą!</h1>
<button id="mvc-action-button" class="myButton" onclick="location.href = '@Url.Action("Evaluate", "Evaluation")'">Grįžti</button>