@using PCE_Web.Controllers
@using System.Security.Claims;


<link rel="icon" href="/img/logo.png">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewData["Title"] - SmartShop</title>

    <!-- CSS -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,500,500i">
    <link rel="stylesheet" href="~/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/animate.css">
    <link rel="stylesheet" href="~/css/style.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Favicon and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="~/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="~/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="~/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="~/ico/apple-touch-icon-57-precomposed.png">

</head>

<body>

    <div class="modal fade" id="dukModal" tabindex="-1"
         role="dialog" aria-labelledby="dukModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="dukModalLabel" style="color: green" bold>DUK</h5>
                </div>
                <div class="modal-body">

                    <h1 style="color: green" bold>Kodėl nematau prekių?</h1>
                    <p>Programa yra kūrimo stadijoje, todėl gali kilti tokie trukdžiai.</p>
                    <hr>

                    <h2 style="color: green" bold>Kaip surasti geriausią prekę?</h2>
                    <p>Į paieškos lauką įveskite ieškomos prekės pavadinimą, tada pasirinkite kategoriją ir kainą.</p>
                    <hr>

                    <h2 style="color: green" bold>Ar visi pasiūlymai tikri? Ar tai ne apgaulė?</h2>
                    <p>Taip, visos prekės yra tikros.</p>
                    <hr>

                    <h2 style="color: green" bold>Ką daryti, jeigu radau klaidą?</h2>
                    <p>Praneškite klaidą administracijai paštu.</p>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn first" data-dismiss="modal" style="color: green" bold>Uždaryti</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="reportModal" tabindex="-1" role="dialog" aria-labelledby="reportModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="height:700px;" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title" id="reportModalLabel" style="color: green" bold>Susisiekite</h2>
                </div>
                <div class="modal-body">

                    <h5 style="text-align:center">Susisiekite su mumis radus klaidą žemiau pateiktame lange.</h5>
                    <br />

                    <form method="get" action="">
                        <div class="textarea">
                            <textarea name="report" rows="5" cols="35" placeholder="Parašykite komentarą.." style="overflow:auto;resize:none"></textarea>
                        </div>
                        <br />

                        <div class="myButton">
                            <button type="submit" asp-controller="MainWindowLoggedIn" asp-action="Report">Siųsti</button>
                        </div>
                    </form>
                    <br />

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn first" data-dismiss="modal" style="color: green" bold>Uždaryti</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Top menu -->
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">SmartShop.lt</a>
            </div>
            <ul class="nav navbar-nav">
                @if (User.Claims.FirstOrDefault(x => x.Type == ClaimTypes.Role)?.Value == "Admin")
                {
                    <li><a asp-area="" asp-controller="Administration" asp-action="Admin">Administruoti</a></li>
                }
                <li><a asp-area="" asp-controller="Logging" asp-action="Logout">Atsijungti</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a asp-area="" asp-controller="Evaluation" asp-action="Evaluate">Parduotuvių įvertinimai</a></li>
                <li><a href="#" data-toggle="modal" data-target="#dukModal">DUK</a></li>
                <li><a href="#" data-toggle="modal" data-target="#reportModal">Susisiekite</a></li>
            </ul>
        </div>
    </nav>
    <!-- Footer -->
    @RenderBody()

</body>
@RenderSection("Scripts", required: false)
</html>

<!-- Javascript -->

<script src="~/js/jquery-1.11.1.min.js"></script>
<script src="~/bootstrap/js/bootstrap.min.js"></script>
<script src="~/js/jquery.backstretch.min.js"></script>
<script src="~/js/wow.min.js"></script>
<script src="~/js/scripts.js"></script>