@*@model PCE_Web.Controllers.PasswordChangeController.InputModel*@
@model InputModel
@{
    ViewData["Title"] = "Slaptažodžio keitimas";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/css/styleForRegistration.css">
    <style type="text/css">
    input[disabled]:active, input[disabled],
    input[disabled]:hover,
    input[type="email"][disabled]:active,
    input[type="email"][disabled],
    input[type="email"][disabled]:hover,
    input[type="password"][disabled]:active,
    input[type="password"][disabled],
    input[type="password"][disabled]:hover
    {
        background-color: #dcdcdc;
        background: #dcdcdc;
    }
    </style>
</head>
<body>
@Html.AntiForgeryToken()
    <form asp-action="ChangePassword" novalidate>
        <div class="container">
            <h1>Slaptažodžio keitimas</h1>
            <p>Užpildykite šią formą, norėdami pakeisti slaptažodį</p>
            <hr>

            <div class="form-group">
                <label asp-for="EmailModel.Email"><b>El. paštas</b></label>
                <input asp-for="EmailModel.Email" class="form-control" type="email" placeholder="Įveskite el. paštą"/>
                <span asp-validation-for="EmailModel.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CodeModel.Code"><b>Kodas</b></label>
                <input disabled="disabled" asp-for="CodeModel.Code" class="form-control" type="email" placeholder="Įveskite kodą" />
                <span asp-validation-for="CodeModel.Code" class="text-danger"></span>
                @if (ViewBag.ShowMessage == true)
                {
                    <script type="text/javascript">
                        $(document).ready(function () {
                            $(".message-box").show();
                        });
                    </script>
                    <div class="text-danger">Klaida, įvestas neteisingas kodas.</div>
                }
            </div>
            <div class="form-group">
                <label asp-for="PasswordModel.Password"><b>Slaptažodis</b></label>
                <input disabled="disabled" asp-for="PasswordModel.Password" class="form-control" type="password" placeholder="Įveskite slaptažodį" />
                <span asp-validation-for="PasswordModel.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PasswordModel.ConfirmPassword"><b>Pakartokite slaptažodį</b></label>
                <input disabled="disabled" asp-for="PasswordModel.ConfirmPassword" class="form-control" type="password" placeholder="Pakartokite slaptažodį" />
                <span asp-validation-for="PasswordModel.ConfirmPassword" class="text-danger"></span>
            </div>

            <button name="submitbtn" type="submit" class="registerbtn">Siųsti</button>
        </div>

        <div class="container signin">
            <p>Norėdami grįžti į prisijungimo langą spauskite <a asp-controller="Logging" asp-action="Login">čia</a>.</p>
        </div>
    </form>

</body>
</html>